
html, body {
  width: 100%;
  height: 1000px;
}

.main {
	display: flex;
	flex-direction: row;
}

.leftColumn {
	background: orange;
	width: 20%;
	height: 1000px;
	border-right-style: solid;
}

.dislay {
	background: blue;
	width: 80%;
	height: 1000px;
	display: flex;
	flex-direction: column;
}

.home {
	height: 100px;
  	width: 80%;
	background: white;
	margin-top: 3%;
  	margin-left: 10%;
  	border-style: solid;
  	border-width: 4px;
  	display: flex;
  	flex-direction: row;
}

.homePageText {
	margin-left: 4%;
}

.homePageInput {
	margin-left: 116%;
  	font-size: 35px;
    position: relative;
  	bottom: 73px;
  	left: -550px;
}


.mainsiloContainer {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 135%;
}

.mainsilo1 {
	background: green;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

.Silo1keyword {
	margin-left: 10%;

}

.silo1KeywordInsert {
  text-align: center;
}

.mainsilo2 {
	background: orange;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
}

.mainsilo3 {
	background: purple;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
}
          
.mainsilo4 {
	background: yellow;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;

}

.arrows {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 135%;
	margin-bottom: 1%;
}

.arrow1 {
	margin-left: 2%;
}

.mainSiloAnchor1 {
	background: white;
	border-style: solid;
}

}

.arrow2 {
	

}
   
.arrow3 {
	

}

.arrow4 {
	margin-right: 2%;
}

.twoRows {
	
}

.siloContainerB {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 135%;
	margin-top: 10%
}

.mainsilo1B {
	background: green;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;

}

.Silo1keyword1B {
	margin-left: 10%;

} 

.silo1KeywordInsert1B {
	text-align: center;
}


.mainsilo2B {
	background: purple;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;
}
          
.mainsilo3B {
	background: purple;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;

}

.mainsilo4B {
	background: yellow;
    height: 100px;
    width: 200px;
    border-width: 1px;
    border-style: solid;

}